@model Web.Pages.Components.SeoContent.SeoContent.SeoModel;
@* <!--SEO--> *@
<title>@Model.TitleSEO | Homer House</title>
<meta name="description" content="@Model.DescriptionSEO">
<meta name=" copyright" content="Homer House" />
<meta name="author" content="Homer House" />
@* <!--OPEN GRAPH--> *@
<meta property="og:title" content="@Model.TitleSEO" />
<meta property="og:type" content="website" />
<meta property="og:url" content="" />
<meta property="og:image" content=">@Model.ImageSEO" />
<meta property="og:description" content="@Model.DescriptionSEO" />
<meta property=" og:locale" content="vi_VN" />