@using Helper
@model Pages.Cart.CartModel.ProductInCart
@{
    var listItem = Model.ListItem;
    var listProduct = Model.ListProduct;
}
 @if (listProduct?.Count >0)
{
    @foreach (var item in listProduct)
    {
        int quantity =listItem.Find(cart => cart.ProductId == item.Id).Quantity;
        double price = (int)item?.Price;
        double priceRoot = price;
        double discount = item.Discount;
        if (discount != 0) { price = (discount % 1 == 0) ? (price - discount) : (price - (price * discount));}
        //template
         <div class="cart-item mb-3 " item-id="@item.Id">
            <div class="row row-contents align-items-lg-center">
                <div class="col-3 col-lg-2">
                    <div class="img"><img width="100" class="border" src="~/images/products/img.jpg"></div>
                </div>
                <div class="col-7 col-lg-9">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg-5 mb-2 ">
                            <p class="text-4">@item.Name @item.BandName @item.CategoryName @item.WireName</p>
                            <span class=" text-4 red bold">@PageHelper._renderCurrency(price)</span>
                             @(PageHelper._checkDiscount(discount,item,@<del class="normal text-sub">@PageHelper._renderCurrency(priceRoot)</del>))
                        </div>
                        <div class="col-12 col-lg-3 mb-2">
                            <div class="d-flex align-items-center">
                                <a quantity-add class="btn btn-bg border-round btn-sm"><i class="las la-angle-up"></i></a>
                                <span item-count item-price="@item.Price" class="px-3">@quantity</span>
                                <a quantity-subtract class="btn btn-bg border-round btn-sm"><i
                                        class="las la-angle-down"></i></a>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4 mb-2">
                            <span>Tổng: </span>
                            <span item-total="@(price*quantity)" class="text-4 bold">@PageHelper._renderCurrency(price*quantity)</span>
                        </div>
                    </div>
                </div>
                <div class="col-2 col-lg-1 text-right">
                    <a quantity-remove class="btn btn-no red remove" href="#!"><i class=" icon las la-times"></i></a>
                </div>
                <hr class="mx-3 white w-100">
            </div>
        </div> 
    }
}
       